<div class="footer">
    <div class="footer__logo">
        <p><img src="{{ url_for('static', filename='assets/lightbulb.png') }}" alt='' width='100px'></p>
        <h3>Обучение программированию на python<h3>
        
    </div>
    <div class="footer__mail">
        <p>Свяжитесь с нами по электронной почте: <a href="mailto:a-zhelobkovich@mail.ru">a-zhelobkovich@mail.ru</a></p>
    </div>
    <div>
    <div class="footer__authors">
        <h2>Авторы проекта:</h2>
        <p>Желобкович А.А.</p>
        <p>Гаманькова Я.С.</p>
    </div>
</div>