<p class="content__header__lesson">Практика</p>
<p class="content__subheader">Язык программирования Python</p>

<p class="content__subheader__theme">1. Команда вывода</p>
<p class="content__info">
    Создайте программу, которая выведет на экран следующий текст: 
    <code>print("Привет, я люблю язык программирования Python!")</code>
</p>

<p class="content__subheader__theme">2. Вычисление выражения</p>
<p class="content__info">
    Создайте программу, которая вычислит значение выражения:
    <code>result = 10 + 5 * 2</code>
</p>

<p class="content__subheader__theme">3. Ввод данных и вычисление выражения</p>
<p class="content__info">
    Создайте программу, которая вычислит значение выражения, 
    где значение переменных вводится с клавиатуры:
    <code>a = int(input("Введите a: "))</code><br>
    <code>b = int(input("Введите b: "))</code><br>
    <code>result = a + b</code>
</p>

<p class="content__subheader__theme">4. Проверка остатка от деления</p>
<p class="content__info">
    Создайте программу, которая проверяет, является ли остаток от деления a на b ненулевым. 
    Значение переменных вводится с клавиатуры:
    <code>a = int(input("Введите a: "))</code><br>
    <code>b = int(input("Введите b: "))</code><br>
    <code>if a % b != 0:</code><br>
    <code>&nbsp;&nbsp;&nbsp;&nbsp;print("Остаток ненулевой")</code>
</p>

<p class="content__subheader__theme">5. Интервал времени в секундах</p>
<p class="content__info">
    Дан интервал времени в часах, минутах и секундах. Напишите программу, 
    которая определит тот же интервал в секундах:
    <code>hours = int(input("Введите часы: "))</code><br>
    <code>minutes = int(input("Введите минуты: "))</code><br>
    <code>seconds = int(input("Введите секунды: "))</code><br>
    <code>total_seconds = hours * 3600 + minutes * 60 + seconds</code>
</p>