<p class="content__header__lesson">Практика</p>
<p class="content__subheader">Язык программирования Python</p>

<p class="content__subheader__theme">1. Команда вывода</p>
<p class="content__info">
    Создайте программу, которая выведет на экран следующий текст: 
    "Привет, я люблю язык программирования Python!"
</p>
<p class="content__subheader__theme">2. Вычисление выражения</p>
<p class="content__info">
    Создайте программу, которая вычислит значение выражения:
</p>
<p class="content__info">
    <img class='lesson_img' src="{{ url_for('static', filename='assets/pr71.png') }}" alt=''>
</p>
<p class="content__subheader__theme">3. Ввод данных и вычисление выражения</p>
<p class="content__info">
    Создайте программу, которая вычислит значение выражения. 
    Значение переменных задает в коде программы.
    <p class="content__info">
        <img class='lesson_img' src="{{ url_for('static', filename='assets/pr72.jpg') }}" alt=''>
    </p>
</p>
<p class="content__subheader__theme">4. Проверка остатка от деления</p>
<p class="content__info">
    Создайте программу, которая проверяет, является ли остаток от деления a на b ненулевым.
    Значение переменных вводится в коде программы.
</p>
<p class="content__subheader__theme">5. Интервал времени в секундах</p>
<p class="content__info">
    В коде программы задано значение времени в часах, минутах и секундах. Допишите код программы, который определит тот же интервал в секундах.
</p>