<div class="pyExecMenu">
  <div class='pyCodeForm'>
    <form id='pyCodeForm'>
      <p class="pyExecMenu__header">Выполните задания с нашим обработчиком кода python!</p>
      <textarea id="pyCodeForm__input" placeholder='Введите ваш Python код здесь...'></textarea>
      <button id='pyCodeForm__submit' class="project-btn" type="submit">Выполнить код</button>
    </form>
  </div>
  <div class="pyCodeOutput__wrapper">
    <p class="pyExecMenu__header">Результат выполнения вашей программы будет выведен здесь:</p>
    <div id="pyCodeOutput"></div>
  </div>
</div>