<aside>
  <a href='/'><div class='chooseContent'><h2>Главная</h2></div></a>
  <a href='/class6'><div class='chooseContent'><img class='edu__img' src="{{ url_for('static', filename='assets/book.png') }}" alt=''>6 Класс</div></a>
  <a href='/class7'><div class='chooseContent'><img class='edu__img' src="{{ url_for('static', filename='assets/book.png') }}" alt=''>7 Класс</div></a>
  <a href='/class8'><div class='chooseContent'><img class='edu__img' src="{{ url_for('static', filename='assets/book.png') }}" alt=''>8 Класс</div></a>
</aside>